body {
  color: #37474F;
  background-color: #333;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  z-index: 400;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50vw;
  max-width: 500px;
  overflow: hidden;
  pointer-events: none;
}

.overlayWrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;

  pointer-events: none;
  padding-bottom: 1rem;
}

.overlayWrapper > * {
  pointer-events: all;
}

.map {
  width: 100vw;
  height: 100vh;
}

.hackatech {
  margin-top: 5rem;
  color: #1FFF84;
}

.hackatechButton {
  background-color: #B120DC;
  color: #eee;
}
