body {
  color: #37474F;
  background-color: #333;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.overlayWrapper {
	position: absolute;
	z-index: 400;
}

.map {
  width: 100vw;
  height: 100vh;
}
