.flight {
  border-bottom: 1px solid #ECEFF1;
}

.flight .header {
  position: relative;
  padding: 2rem 1rem 1rem;
  border-bottom: 1px solid #ECEFF1;
  color: #e0e0e0;

/*  background-image: url("https://i.imgur.com/iXT7Y6D.jpg");
  background-position: 10%;
  background-size: cover;
*/

  background-image: url('https://hackupc.com/assets/img/background.png');
  /*background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, .7)), url('https://hackupc.com/assets/img/background.png');*/
  background-position: 10%;
  /*background-size: cover;*/
}

.flight .header .buttons {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: cursor;
}

.flight .header .heading {
  display: flex;
}

.flight .header h1 {
  margin: 0; padding: 0;
  font-weight: 500;
  font-size: 2.2rem;
  flex-grow: 1;
}

.flight .meta {
  display: flex;
}

.flight .meta .date {
  flex-grow: 1;
}
.flight .meta .price {
  flex-shrink: 0;
  font-weight: 800;
}

.flight .legs {
  display: flex;
  flex-direction: column;
  padding: .6rem 0 .5rem;
  background: #ECEFF1;
}

.flight .leg {
  display: flex;
  flex-direction: row;
  padding: .5rem 1rem;
  align-items: center;
}

.flight .leg .icon {
  flex-shrink: 0;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flight .leg .icon > svg {
  width: 32px;
  height: 32px;
}

.flight .leg .destination {
  flex-grow: 1;
  display: flex;
}

.flight .leg .time {
  flex-shrink: 0;
  display: flex;
}


.logo {
  margin-left: 0.5rem;
  height: 1.5em;
  filter: grayscale(100%);
}

.logo:hover {
  filter: none;
}