.fab {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
}

.cityList {
  min-height: 350px;
}

.city {
  padding-right: 96px !important;
}

.name >* {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overlay {
  position: fixed;
  z-index: 9999;
  bottom: calc(56px + 3.5rem);
  left: 2rem;
  width: 50vw;
  max-width: 450px;

  background: white;
}

.calendarInput {
  border: none;
  padding: 0;
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
  font-size: 16px;
  width: 100%;
}

:global(.ap-icon-pin), :global(.ap-icon-clear) {
  display: none;
}