.fab {
  margin-left: 1rem;
  margin-top: 1rem;
  z-index: 9999;
}

.cityList {
  min-height: 350px;
}

.city {
  padding-right: 96px !important;
}

.name >* {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.overlay {
  /*position: fixed;
  top: calc(56px + 3.5rem);
  left: 2rem;*/
  margin-top: 1rem;
  margin-left: 1rem;
  width: 50vw;
  z-index: 9999;
  max-width: 500px;
}

.calendarInput {
  border: none;
  padding: 0;
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5em;
  font-size: 16px;
  width: 100%;
}

:global(.ap-icon-pin), :global(.ap-icon-clear) {
  display: none;
}

.fabProgress {
  position: absolute;
  left: 9.5px;
  top: 9.5px;
  z-index: 1;
}
