.route {
/*  position: absolute;
  left: 10px;
  top: 6rem;*/
  margin-left: 1rem;
  margin-top: 1rem;
  width: 50vw;
  max-width: 500px;

  display: flex;
  flex-direction: column;

  z-index: 999;
  max-height: calc(100vh - 10px);
  overflow-y: auto;
  overflow-x: hidden;
}

.route > * {
  overflow: visible !important;
}

.flights {
  flex-grow: 1;
  opacity: 1;
  transition: opacity 0.2s;
}

.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}


.flights.loading {
  opacity: 0.2;
}

.cardLoading {
  position: relative;
}

.cardSorting {
  user-select: none;
}

.footer {
  display: flex;
  padding: 1rem;
}

.ownerHeader {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  flex-shrink: 0;
  border-radius: 4px 4px 0 0;
  color: white;
}

.owner {
  flex-grow: 1;
}

.close {
/*  position: absolute !important;
  top: .3rem;
  right: .3rem;*/
  flex-shrink: 1;
  z-index: 9999;
}

.footer .total {
  flex-grow: 1;
  text-align: right;
  font-size: 125%;
  font-weight: 800;
}

.helper {
  z-index: 99999;
}
