.route {
  position: absolute;
  right: 10px;
  width: 50vw;
  max-width: 500px;
  bottom: 0px;

  display: flex;
  flex-direction: column;

  z-index: 99999;
  max-height: calc(100vh - 10px);
  overflow-y: auto;
  overflow-x: hidden;
}

.route > * {
  overflow: visible !important;
}


.owner {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-shrink: 0;
  border-radius: 0 0 4px 4px;
  color: white;
}

.close {
  position: absolute !important;
  top: .3rem;
  right: .3rem;
  z-index: 9999;
}


.flights {
  flex-grow: 1;
  opacity: 1;
  transition: opacity 0.2s;
}

.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}


.flights.loading {
  opacity: 0.2;
}

.cardLoading {
  position: relative;
}

.cardSorting {
  user-select: none;
}

.footer {
  display: flex;
  padding: 1rem;
}

.footer .total {
  flex-grow: 1;
  text-align: right;
  font-size: 125%;
  font-weight: 800;
}

.helper {
  z-index: 99999;
}
